@charset "UTF-8";
.grid, .main__two {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 0;
}

header {
  grid-column: 1/span 3;
}
header:first-child {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  grid-column: 1/span 3;
  height: 50px;
  text-align: right;
  vertical-align: center;
}
nav ul {
  margin: 0;
  padding: 10px 20px 0 0;
}
nav li {
  display: inline-block;
}
nav li a {
  font-weight: bold;
  color: #355070;
  text-decoration: none;
  margin: 0 40px 0 0;
}
nav li:nth-child(1)::before, nav li:nth-child(2)::before {
  color: #355070;
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
}
nav li:nth-child(1)::before {
  content: "";
}
nav li:nth-child(2)::before {
  content: "";
}
nav li:nth-child(3) div {
  display: flex;
  width: 100%;
}
nav li:nth-child(3) div i {
  padding: 12px 0 0 0;
  background: #355070;
  border-radius: 20px 0 0 20px;
  color: #FFF;
  min-width: 50px;
  text-align: center;
}
nav input[type=text] {
  color: #E1E9F3;
  height: 40px;
  background-color: #355070;
  border: none;
  border-radius: 0 20px 20px 0;
  transition: 1s background-color ease;
  width: 100%;
  outline: none;
}
nav input[type=text]:hover {
  color: #355070;
  background-color: #E1E9F3;
  border: none;
}
nav input[type=text]::placeholder {
  color: #FFF;
}

footer {
  grid-column: 1/span 3;
  background-color: #E1E9F3;
  text-align: center;
  font-weight: 400;
  margin: 20px 0 0 0;
  padding: 20px 0;
}
footer blockquote {
  font-style: italic;
}
footer blockquote::before, footer blockquote::after {
  color: #E56B6F;
  font-size: 24px;
  font-weight: 900;
}
footer blockquote::before {
  content: "“        ";
}
footer blockquote::after {
  content: "        ”";
}

aside {
  padding: 20px;
  grid-column: 1/2;
}
aside ul {
  margin: 0;
  padding: 0;
}
aside li {
  display: block;
  list-style-type: none;
  background-color: #B56576;
  padding: 10px 0;
  text-align: center;
}
aside li:first-child {
  border-radius: 50px 0 0 0;
}
aside li:last-child {
  border-radius: 0 0 50px 0;
}
aside li:hover {
  background-color: #6D597A;
  color: #355070;
}
aside a {
  color: #E1E9F3;
  text-decoration: none;
}

.main__two {
  grid-column: 2/3;
  grid-template-columns: 60% 40%;
}
.main__two--carrousel {
  padding: 20px;
  grid-column: 1/2;
}
.main__two--carrousel .carrousel_btn {
  padding-left: 270px;
}
.main__two--carrousel .carrousel_btn input {
  border: none;
  border-radius: 5px;
  background-color: #B56576;
}
.main__two--lorem {
  padding: 20px;
  grid-column: 2/3;
}
.main__two--lorem p {
  text-align: justify;
}
.main__two--lorem p::first-letter {
  font-size: 3.5em;
  padding-right: 0.2em;
  float: left;
  color: #B56576;
}

.main__one {
  grid-column: 1/3;
  padding: 20px;
}
.main__one h2 {
  margin: 0 0 20px 0;
}
.main__one .formulaire div {
  padding-bottom: 10px;
}
.main__one .formulaire label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.main__one .formulaire label::after {
  content: " *";
  color: red;
  display: inline;
}
.main__one .formulaire input[type=text], .main__one .formulaire select, .main__one .formulaire input[type=email] {
  width: 50%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
}
.main__one .formulaire input[type=email]:invalid {
  border-color: red;
}
.main__one .formulaire input[type=email]:valid {
  border-color: green;
}
.main__one .formulaire input[type=button] {
  margin-top: 20px;
  background-color: #B56576;
  color: #E1E9F3;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: left;
}
.main__one .formulaire input[type=button]:hover {
  background-color: #355070;
}
.main__one table {
  width: 100%;
  text-align: left;
  border: 3px solid #355070;
  border-collapse: collapse;
}
.main__one table th, .main__one table td {
  border-bottom: 1px solid #E1E9F3;
  padding: 20px;
}
.main__one table td:last-of-type {
  background-color: #E56B6F;
  color: #E1E9F3;
}
.main__one table td:first-of-type {
  color: #B56576;
}
.main__one table thead {
  background-color: #355070;
  color: #E56B6F;
}
.main__one table thead th:nth-child(3n) {
  color: #E56B6F;
  font-weight: 900;
}
.main__one table tr:nth-child(2n+2) {
  background-color: #E1E9F3;
}
.main__one table tr:hover {
  background-color: #355070;
}

.cachee {
  display: none;
}

/*# sourceMappingURL=style.css.map */
