footer{
    grid-column: 1/span 3;
    background-color: $LightGrey;
    text-align: center;
    font-weight: 400;
    margin: 20px 0 0 0;
    padding: 20px 0;
    blockquote{
        font-style: italic;
        &::before, &::after{
            color: $Pink;
            font-size: 24px;
            font-weight: 900;
        }
        &::before{
            content: '“        ';
        }
        &::after{
            content: '        ”';
        }
    }
}