header{
    grid-column: 1 / span 3;
    &:first-child{
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    }
}
nav{
    grid-column: 1 / span 3;
    height: 50px;
    text-align: right;
    vertical-align: center;
    ul{
        margin: 0;
        padding: 10px 20px 0 0;
    }
    li{
        display: inline-block;
        a{
            font-weight: bold;
            color: $Blue;
            text-decoration: none;
            margin: 0 40px 0 0 ;
        }
    }
    li:nth-child(1)::before, li:nth-child(2)::before{
        color: $Blue;
        font-family : "Font Awesome 5 Free";
        margin-right: 5px;
    }
    li:nth-child(1)::before{
        content: "\f14d";
    }
    li:nth-child(2)::before{
        content: "\f2bb";
    }
    li:nth-child(3) div{
        display: flex;
        width: 100%;
        i{
            padding: 12px 0 0 0;
            background: $Blue;
            border-radius: 20px 0 0 20px;
            color: $White;
            min-width: 50px;
            text-align: center;
        }
    }
    input[type='text']{
        color: $LightGrey;
        height: 40px;
        background-color: $Blue;
        border: none;
        border-radius: 0 20px 20px 0;
        transition: 1s background-color ease;
        width: 100%;
        outline: none;
        &:hover{
            color: $Blue;
            background-color: $LightGrey;
            border: none;
        }
        &::placeholder {
        color: $White;
        }
    }
}
