$Blue : #355070;
$Violet : #6D597A;
$Rose : #B56576;
$Pink : #E56B6F;
$Tumbleweed : #ECB598;
$LightGrey : #E1E9F3;
$White : #FFF;

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0;
}