

@import 'kitchen';
@import 'header';
@import 'footer';

// ASIDE SCSS
aside{
    padding: 20px;
    grid-column: 1/2;
    ul{
        margin: 0; padding: 0;
    }
    li{
    display: block;
    list-style-type: none;
    background-color: $Rose;
    padding: 10px 0 ;
    text-align: center;
        &:first-child{
            border-radius: 50px 0 0 0 ;
        }
        &:last-child{
            border-radius:  0 0 50px 0;
        }
        &:hover{
            background-color: $Violet;
            color: $Blue;
        }
    }
    a{
        color: $LightGrey;
        text-decoration: none;
    }
}
// CARROUSEL PAGE
.main__two{
    grid-column: 2/3;
    @extend .grid;
    grid-template-columns: 60% 40%;
    &--carrousel{
        padding: 20px;
        grid-column: 1/2;
        .carrousel_btn{
            padding-left: 270px;
            input{
                border: none;
                border-radius: 5px;
                background-color: $Rose;
            }
        }
    }
    &--lorem{
        padding: 20px;
        grid-column: 2/3;
        p{
        text-align: justify;
        &::first-letter{
            font-size:3.5em;
            padding-right:0.2em;
            float:left;
            color:$Rose;
        }
        }
    }
}
// END CARROUSEL PAGE

// FORMULIARE AND TABLEAU PAGES

.main__one{
    grid-column: 1/3;
    padding: 20px;
    h2{
        margin: 0 0 20px 0;
    }
    .formulaire{
        div{
        padding-bottom: 10px;
        }
        label{
            padding: 12px 12px 12px 0;
            display: inline-block;
            &::after{
                  content: ' *';
                    color: red;
                    display:inline;
            }
        }
        input[type=text], select, input[type=email]{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=email]{
            &:invalid{
                border-color:red;
            }
            &:valid{
                border-color:green;
            }
        }
        input[type=button] {
            margin-top: 20px;
            background-color: $Rose;
            color: $LightGrey;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            // cursor: pointer;
            float: left;
            &:hover{
                background-color: $Blue;
            }
        }
    }

    // PAGE TABLEAU
    table{
        width:100%;
        text-align: left;
        border:3px solid $Blue;
        border-collapse: collapse;
    th, td{
        border-bottom: 1px solid $LightGrey;
        padding: 20px;
    }
    td{
        &:last-of-type{
            background-color: $Pink;
            color: $LightGrey;
        }
        &:first-of-type{
            color: $Rose;
        }
    }
    thead{
        background-color: $Blue;
        color: $Pink;
        th:nth-child(3n){
            color: $Pink;
            font-weight: 900;
        }
    }
    tr{
        &:nth-child(2n+2){
            background-color: $LightGrey;
        }
        &:hover{
            background-color: $Blue;
        }
    }
    }
}

.cachee{
    display: none;
}